@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Inter', sans-serif !important;
    scroll-behavior: smooth !important;
}

.scroll_event::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth !important;
}

.scroll_event {
    scroll-behavior: smooth !important;
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
    }
}

body.hideTawkTo.widget-visible {display: none}